In [67]:
import pandas as pd
import unicodedata
import re
from datetime import datetime, timedelta
import numpy as np

In [189]:
tv_linear = pd.read_csv('tv_linear.csv', sep=",")
tv_linear = tv_linear[tv_linear['Targets'] == 'Total Indivíduos'].reset_index(drop=True)

In [190]:
tv_linear

,Targets,Atividades,Praças,Nome Programa,Detalhe,Emissora,Data,Hora Início,Hora Fim,Duração Prg,...,Quadro,Rat#,Rat%,Shr%,TVR%,TVR#,Duração [Ac | minutes],AvRch% [WAvg],Cov%,Fid% [ORG]
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15:00,...,NaN,1029.29,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,05:00,...,NaN,1073.47,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16
2,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,05:00,...,FALANDO DE SUSTENTABILIDADE,1073.47,1.50,36.77,4.09,2919.67,25.0,1.55,0.97,97.16
3,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30:00:00,...,NaN,1128.29,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89
4,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130:00:00,...,NaN,1381.68,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40365,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45:00:00,...,NaN,1135.33,1.64,28.58,5.74,3973.01,2321036.0,2.10,1.35,78.23
40366,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45:00:00,...,VOLTA POR CIMA REPRISE,1135.33,1.64,28.58,5.74,3973.01,2321081.0,2.10,1.35,78.23
40367,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:46:00,28:00:00,74:00:00,...,NaN,912.00,1.32,28.52,4.62,3197.77,2321155.0,1.85,1.20,71.31
40368,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:47:00,28:00:00,73:00:00,...,VAI QUE COLA,910.15,1.31,28.51,4.61,3191.99,2321228.0,1.85,1.20,71.17
40369,Total Indivíduos,Consolidado,RM - Abertas,HORA UM,NaN,GLOBO,17/02/2025,28:00:00,30:00:00,120:00:00,...,NaN,1130.03,1.63,37.66,4.33,3000.35,2321348.0,3.52,2.38,46.35

In [191]:
tv_linear.columns = tv_linear.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [192]:
tv_linear

,targets,atividades,praças,nome_programa,detalhe,emissora,data,hora_início,hora_fim,duração_prg,...,quadro,rat#,rat%,shr%,tvr%,tvr#,duração_[ac_|_minutes],avrch%_[wavg],cov%,fid%_[org]
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15:00,...,NaN,1029.29,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,05:00,...,NaN,1073.47,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16
2,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,05:00,...,FALANDO DE SUSTENTABILIDADE,1073.47,1.50,36.77,4.09,2919.67,25.0,1.55,0.97,97.16
3,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30:00:00,...,NaN,1128.29,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89
4,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130:00:00,...,NaN,1381.68,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40365,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45:00:00,...,NaN,1135.33,1.64,28.58,5.74,3973.01,2321036.0,2.10,1.35,78.23
40366,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45:00:00,...,VOLTA POR CIMA REPRISE,1135.33,1.64,28.58,5.74,3973.01,2321081.0,2.10,1.35,78.23
40367,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:46:00,28:00:00,74:00:00,...,NaN,912.00,1.32,28.52,4.62,3197.77,2321155.0,1.85,1.20,71.31
40368,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:47:00,28:00:00,73:00:00,...,VAI QUE COLA,910.15,1.31,28.51,4.61,3191.99,2321228.0,1.85,1.20,71.17
40369,Total Indivíduos,Consolidado,RM - Abertas,HORA UM,NaN,GLOBO,17/02/2025,28:00:00,30:00:00,120:00:00,...,NaN,1130.03,1.63,37.66,4.33,3000.35,2321348.0,3.52,2.38,46.35

In [193]:
# TRATANDO A COLUNA DE DURAÇÃO DO PROGRAMA
tv_linear['duração_prg'] = tv_linear['duração_prg'].str.split(':').str[0].astype(int)

In [194]:
tv_linear

,targets,atividades,praças,nome_programa,detalhe,emissora,data,hora_início,hora_fim,duração_prg,...,quadro,rat#,rat%,shr%,tvr%,tvr#,duração_[ac_|_minutes],avrch%_[wavg],cov%,fid%_[org]
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15,...,NaN,1029.29,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,NaN,1073.47,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16
2,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,FALANDO DE SUSTENTABILIDADE,1073.47,1.50,36.77,4.09,2919.67,25.0,1.55,0.97,97.16
3,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30,...,NaN,1128.29,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89
4,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130,...,NaN,1381.68,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40365,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45,...,NaN,1135.33,1.64,28.58,5.74,3973.01,2321036.0,2.10,1.35,78.23
40366,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,17/02/2025,26:01:00,26:46:00,45,...,VOLTA POR CIMA REPRISE,1135.33,1.64,28.58,5.74,3973.01,2321081.0,2.10,1.35,78.23
40367,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:46:00,28:00:00,74,...,NaN,912.00,1.32,28.52,4.62,3197.77,2321155.0,1.85,1.20,71.31
40368,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,17/02/2025,26:47:00,28:00:00,73,...,VAI QUE COLA,910.15,1.31,28.51,4.61,3191.99,2321228.0,1.85,1.20,71.17
40369,Total Indivíduos,Consolidado,RM - Abertas,HORA UM,NaN,GLOBO,17/02/2025,28:00:00,30:00:00,120,...,NaN,1130.03,1.63,37.66,4.33,3000.35,2321348.0,3.52,2.38,46.35

In [195]:
def ajustar_horario(time_str):
    """
    Recebe um horário no formato "HH:MM:SS" e, se o valor da hora for ≥ 24,
    subtrai 24 e retorna também um delta de 1 dia; caso contrário, retorna
    o horário inalterado e delta zero.
    """
    h, m, s = map(int, time_str.split(":"))
    delta = timedelta(days=0)
    if h >= 24:
        h -= 24
        delta = timedelta(days=1)
    novo_time = f"{h:02d}:{m:02d}:{s:02d}"
    return delta, novo_time

def ajustar_data_e_horarios(row):
    # Converte a string de data para objeto datetime
    data_dt = datetime.strptime(row["data"], "%d/%m/%Y")
    
    # Ajusta Hora Início e obtém o delta (se for necessário mudar a data)
    delta_inicio, novo_inicio = ajustar_horario(row["hora_início"])
    # Ajusta Hora Fim; usamos o ajuste mas não alteramos a data,
    # pois a data da programação é definida pelo horário de início.
    _, novo_fim = ajustar_horario(row["hora_fim"])
    
    # Atualiza a data somente se o horário de início indicar mudança (>= 24h)
    data_dt += delta_inicio

    return pd.Series([data_dt.strftime("%d/%m/%Y"), novo_inicio, novo_fim])

In [196]:
tv_linear[["data", "hora_início", "hora_fim"]] = tv_linear.apply(ajustar_data_e_horarios, axis=1)

In [177]:
tv_linear

,targets,atividades,praças,nome_programa,detalhe,emissora,data,hora_início,hora_fim,duração_prg,...,quadro,rat#,rat%,shr%,tvr%,tvr#,duração_[ac_|_minutes],avrch%_[wavg],cov%,fid%_[org]
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15,...,NaN,1029.29,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,NaN,1073.47,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16
2,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,FALANDO DE SUSTENTABILIDADE,1073.47,1.50,36.77,4.09,2919.67,25.0,1.55,0.97,97.16
3,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30,...,NaN,1128.29,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89
4,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130,...,NaN,1381.68,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40365,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,18/02/2025,02:01:00,02:46:00,45,...,NaN,1135.33,1.64,28.58,5.74,3973.01,2321036.0,2.10,1.35,78.23
40366,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,18/02/2025,02:01:00,02:46:00,45,...,VOLTA POR CIMA REPRISE,1135.33,1.64,28.58,5.74,3973.01,2321081.0,2.10,1.35,78.23
40367,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,18/02/2025,02:46:00,04:00:00,74,...,NaN,912.00,1.32,28.52,4.62,3197.77,2321155.0,1.85,1.20,71.31
40368,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,18/02/2025,02:47:00,04:00:00,73,...,VAI QUE COLA,910.15,1.31,28.51,4.61,3191.99,2321228.0,1.85,1.20,71.17
40369,Total Indivíduos,Consolidado,RM - Abertas,HORA UM,NaN,GLOBO,18/02/2025,04:00:00,06:00:00,120,...,NaN,1130.03,1.63,37.66,4.33,3000.35,2321348.0,3.52,2.38,46.35

In [129]:
tv_linear.to_csv('tv_linear_hora_ajustado.csv', index=False)

In [197]:
tv_linear = tv_linear[tv_linear['nível'] == 'Nível 1'].reset_index(drop=True)

In [ ]:
def get_macro_tv_linear(tv_linear):
    pass

In [198]:
tv_linear

,targets,atividades,praças,nome_programa,detalhe,emissora,data,hora_início,hora_fim,duração_prg,...,quadro,rat#,rat%,shr%,tvr%,tvr#,duração_[ac_|_minutes],avrch%_[wavg],cov%,fid%_[org]
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15,...,NaN,1029.29,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,NaN,1073.47,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16
2,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30,...,NaN,1128.29,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89
3,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130,...,NaN,1381.68,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59
4,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 2,NaN,GLOBO,01/01/2022,09:00:00,10:30:00,90,...,NaN,1966.93,2.76,28.07,9.82,7007.22,275.0,6.11,3.96,45.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24328,Total Indivíduos,Consolidado,RM - Abertas,JORNAL DA GLOBO,NaN,GLOBO,18/02/2025,01:22:00,01:59:00,37,...,NaN,1454.82,2.10,29.38,7.15,4952.38,2320989.0,3.13,2.03,67.12
24329,Total Indivíduos,Consolidado,RM - Abertas,BOL REDE BBB MAD,NaN,GLOBO,18/02/2025,01:59:00,02:01:00,2,...,NaN,1300.72,1.88,29.43,6.38,4419.54,2320991.0,1.95,1.27,96.53
24330,Total Indivíduos,Consolidado,RM - Abertas,REAPRES NOVELA,NaN,GLOBO,18/02/2025,02:01:00,02:46:00,45,...,NaN,1135.33,1.64,28.58,5.74,3973.01,2321036.0,2.10,1.35,78.23
24331,Total Indivíduos,Consolidado,RM - Abertas,SESSAO COMED MADRUG,NaN,GLOBO,18/02/2025,02:46:00,04:00:00,74,...,NaN,912.00,1.32,28.52,4.62,3197.77,2321155.0,1.85,1.20,71.31
24332,Total Indivíduos,Consolidado,RM - Abertas,HORA UM,NaN,GLOBO,18/02/2025,04:00:00,06:00:00,120,...,NaN,1130.03,1.63,37.66,4.33,3000.35,2321348.0,3.52,2.38,46.35

In [148]:
tv_linear['start'] = tv_linear['data'] + ' ' + tv_linear['hora_início']
tv_linear['end'] = tv_linear['data'] + ' ' + tv_linear['hora_início']
tv_linear['start'] = pd.to_datetime(tv_linear['start'], format='%d/%m/%Y %H:%M:%S')
tv_linear['end'] = pd.to_datetime(tv_linear['end'], format='%d/%m/%Y %H:%M:%S')

In [142]:
str(tv_linear['data'][0] + ' ' + str(tv_linear['hora_início'][0]))

'01/01/2022 06:00:00'

In [134]:
tv_linear.dtypes

targets                    object
atividades                 object
praças                     object
nome_programa              object
detalhe                    object
emissora                   object
data                       object
hora_início                object
hora_fim                   object
duração_prg                 int64
nível                      object
gênero                     object
quadro                     object
rat#                      float64
rat%                      float64
shr%                      float64
tvr%                      float64
tvr#                      float64
duração_[ac_|_minutes]    float64
avrch%_[wavg]             float64
cov%                      float64
fid%_[org]                float64
start                      object
dtype: object

In [202]:
tv_linear = tv_linear.head(4)

In [203]:
tv_linear

,targets,atividades,praças,nome_programa,detalhe,emissora,data,hora_início,hora_fim,duração_prg,...,rat%,shr%,tvr%,tvr#,duração_[ac_|_minutes],avrch%_[wavg],cov%,fid%_[org],start,end
0,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:00:00,06:15:00,15,...,1.44,35.23,4.09,2921.42,15.0,1.63,1.02,88.38,2022-01-01 06:00:00,2022-01-01 06:15:00
1,Total Indivíduos,Consolidado,RM - Abertas,COMO SERA,NaN,GLOBO,01/01/2022,06:15:00,06:20:00,5,...,1.50,36.77,4.09,2919.67,20.0,1.55,0.97,97.16,2022-01-01 06:15:00,2022-01-01 06:20:00
2,Total Indivíduos,Consolidado,RM - Abertas,PROGRAMAÇÃO LOCAL,NaN,GLOBO,01/01/2022,06:20:00,06:50:00,30,...,1.58,36.78,4.30,3067.90,55.0,2.33,1.46,67.89,2022-01-01 06:20:00,2022-01-01 06:50:00
3,Total Indivíduos,Consolidado,RM - Abertas,E DE CASA 1,NaN,GLOBO,01/01/2022,06:50:00,09:00:00,130,...,1.94,33.60,5.76,4111.69,185.0,4.77,3.11,40.59,2022-01-01 06:50:00,2022-01-01 09:00:00

In [ ]:
def process_df(df):
    # Convert start and end times to datetime
    df['start'] = df['data'] + ' ' + df['hora_início']
    df['end'] = df['data'] + ' ' + df['hora_fim']
    df['start'] = pd.to_datetime(df['start'], format='%d/%m/%Y %H:%M:%S')
    df['end'] = pd.to_datetime(df['end'], format='%d/%m/%Y %H:%M:%S')
    
    metrics = ['rat#', 'rat%', 'shr%', 'tvr%', 'tvr#', 'avrch%_[wavg]', 'cov%', 'fid%_[org]']
    result_rows = []
    
    for _, row in df.iterrows():
        start = row['start']
        end = row['end']
        duration = row['duração_prg']
                
        current_hour = start.floor('h')
        end_hour = end.ceil('h')
        
        while current_hour < end_hour:
            next_hour = current_hour + pd.Timedelta(hours=1)
            overlap_start = max(start, current_hour)
            overlap_end = min(end, next_hour)
            overlap_min = (overlap_end - overlap_start).total_seconds() / 60
            print(f"overlap_start: {overlap_start}")
            print(f"overlap_end: {overlap_end}")
            print(f"overlap_min: {overlap_min}")

            
            if overlap_min > 0:
                proportion = overlap_min / duration
                data_hora = current_hour
                result_row = {'data_hora': data_hora}
                for metric in metrics:
                    result_row[metric] = row[metric] * proportion
                result_rows.append(result_row)
            
            current_hour = next_hour
    
    result_df = pd.DataFrame(result_rows)
    if not result_df.empty:
        result_df = result_df.groupby('data_hora', as_index=False).sum()
    return result_df

In [206]:
resultado = process_df(tv_linear)

overlap_start: 2022-01-01 06:00:00
overlap_end: 2022-01-01 06:15:00
overlap_min: 15.0
overlap_start: 2022-01-01 06:15:00
overlap_end: 2022-01-01 06:20:00
overlap_min: 5.0
overlap_start: 2022-01-01 06:20:00
overlap_end: 2022-01-01 06:50:00
overlap_min: 30.0
overlap_start: 2022-01-01 06:50:00
overlap_end: 2022-01-01 07:00:00
overlap_min: 10.0
overlap_start: 2022-01-01 07:00:00
overlap_end: 2022-01-01 08:00:00
overlap_min: 60.0
overlap_start: 2022-01-01 08:00:00
overlap_end: 2022-01-01 09:00:00
overlap_min: 60.0

/tmp/ipykernel_8734/3035855671.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df['data'] + ' ' + df['hora_início']
/tmp/ipykernel_8734/3035855671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df['data'] + ' ' + df['hora_fim']
/tmp/ipykernel_8734/3035855671.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = pd.to_datetime(df['start'], format='%d/%m/%Y %H:%M:%S')
/tmp/ipykernel_8734/3035855671.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = pd.to_datetime(df['end'], format='%d/%m/%Y %H:%M:%S')

In [201]:
resultado

,data_hora,rat#,rat%,shr%,tvr%,tvr#,avrch%_[wavg],cov%,fid%_[org]
0,2022-01-01 06:00:00,3337.333077,4.669231,111.364615,12.923077,9225.273846,5.876923,3.689231,256.552308
1,2022-01-01 07:00:00,637.698462,0.895385,15.507692,2.658462,1897.703077,2.201538,1.435385,18.733846
2,2022-01-01 08:00:00,637.698462,0.895385,15.507692,2.658462,1897.703077,2.201538,1.435385,18.733846
3,2022-01-01 09:00:00,1311.286667,1.840000,18.713333,6.546667,4671.480000,4.073333,2.640000,30.060000
4,2022-01-01 10:00:00,1423.750942,1.996087,17.495797,7.584203,5413.025870,4.263841,2.797174,30.789783
...,...,...,...,...,...,...,...,...,...
26901,2025-02-18 01:00:00,2105.180000,3.040000,44.095000,10.340000,7162.150000,4.105000,2.665000,115.385000
26902,2025-02-18 02:00:00,1958.230541,2.829730,48.690676,9.804054,6787.763514,3.425000,2.212027,139.986081
26903,2025-02-18 03:00:00,739.459459,1.070270,23.124324,3.745946,2592.786486,1.500000,0.972973,57.818919
26904,2025-02-18 04:00:00,565.015000,0.815000,18.830000,2.165000,1500.175000,1.760000,1.190000,23.175000
26905,2025-02-18 05:00:00,565.015000,0.815000,18.830000,2.165000,1500.175000,1.760000,1.190000,23.175000

In [153]:
resultado

Empty DataFrame
Columns: []
Index: []